<h2>Edit <%= @movie.title %></h2>

<%= form_for @movie do |f|%>

  <%= label_tag(:movie_title) %>
  <%= f.text_field(:title) %>
  <%= label_tag(:year) %>
  <%= f.text_field(:year) %>
  <br>

  <%= f.submit %>

<% end %>