<h2>Here is information on <%= @captured_movie["Title"] %> </h2>

<%= @captured_movie["Title"]  %><br>
<%= @captured_movie["Rated"]  %><br>
<%= @captured_movie["Actors"] %><br>
<%= @captured_movie["Plot"] %>


